<IfModule mod_rewrite.c>
    RewriteEngine On

    # --- FORÇAR REDIRECIONAMENTO PARA HTTPS E REMOVER WWW ---
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

    # --- Configurações padrões depois do redirecionamento ---
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 [L]

    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>